<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <!-- Logging Properties -->
    <Properties>
        <Property name="APP_NAME">geode-test</Property>
        <Property name="LOG_PATTERN">%highlight{[%-5p]}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=black, DEBUG=green bold, TRACE=blue} %d{ISO8601} ========= %m%n</Property>
        <Property name="DEBUG_PATTERN">[%p] %d{ISO8601} %t::thread-%F::%c::%M::%L ========= %m%n</Property>
        <Property name="APP_LOG_ROOT">test.log</Property>
        <Property name="APPEND">false</Property>
    </Properties>

    <Appenders>



        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <LevelRangeFilter minLevel="FATAL" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>

        <Console name="Debug" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${DEBUG_PATTERN}"/>
            <LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>

        <RollingFile name="debugLog" fileName="${APP_LOG_ROOT}/${APP_NAME}-debug.log"
                     filePattern="${APP_LOG_ROOT}/${APP_NAME}-debug-%d{yyyy-MM-dd}-%i.log">
            <LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${DEBUG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
            <Append value="${APPEND}"/>
        </RollingFile>

        <RollingFile name="infoLog" fileName="${APP_LOG_ROOT}/${APP_NAME}-info.log"
                     filePattern="${APP_LOG_ROOT}/${APP_NAME}-info-%d{yyyy-MM-dd}-%i.log" >
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
            <Append value="${APPEND}"/>
        </RollingFile>

        <RollingFile name="errorLog" fileName="${APP_LOG_ROOT}/${APP_NAME}-error.log"
                     filePattern="${APP_LOG_ROOT}/${APP_NAME}-error-%d{yyyy-MM-dd}-%i.log" >
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
            <Append value="${APPEND}"/>
        </RollingFile>

        <RollingFile name="warnLog" fileName="${APP_LOG_ROOT}/${APP_NAME}-warn.log"
                     filePattern="${APP_LOG_ROOT}/${APP_NAME}-warn-%d{yyyy-MM-dd}-%i.log" >
            <LevelRangeFilter minLevel="WARN" maxLevel="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
            <Append value="${APPEND}"/>
        </RollingFile>

        <RollingFile name="fatalLog" fileName="${APP_LOG_ROOT}/${APP_NAME}-fatal.log"
                     filePattern="${APP_LOG_ROOT}/${APP_NAME}-fatal-%d{yyyy-MM-dd}-%i.log" >
            <LevelRangeFilter minLevel="FATAL" maxLevel="FATAL" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
            <Append value="${APPEND}"/>
        </RollingFile>


    </Appenders>

    <Loggers>

        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Debug"/>
            <AppenderRef ref="infoLog"/>
            <AppenderRef ref="debugLog"/>
            <AppenderRef ref="fatalLog"/>
            <AppenderRef ref="errorLog"/>
            <AppenderRef ref="warnLog"/>
        </Root>

    </Loggers>

</Configuration>
